
<% if user_signed_in? %>
  <%= button_to "Log Out", session_path, method: :delete %>
  <%= flash[:notice] %>
    <h4>Logged in as <%= @current_user.name %></h4>  
    <div>
    <h1>Import CSV file</h1>
      <%= form_tag import_earnings_path,  multipart: true do %>
        <%= file_field_tag :file, :required => true %>
        <%= submit_tag "Import CSV" %>
      <% end %>
    </div>    
    <% if !@earnings.empty? %>
      <div>
        <table>
          <thead>
            <th> Employee Id </th>
            <th> Earning Date </th>
            <th> Amount </th>
          </thead>
          <tbody>
            <% @earnings.each do |e| %>
              <tr>
                <td><%= e.employee_id %></td>
                <td><%= e.earning_date %></td>
                <td><%= e.amount %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
<% else %>
  <h3><%= link_to "Log In", new_session_path %></h3>
<% end %>








